.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints/Unit_1_2_code-checkpoint.ipynb
.ipynb_checkpoints/Unit_2_PredictingLocationsviaIndoorPositioningSystem_v3_Serna-checkpoint.ipynb
.ipynb_checkpoints/Unit_2_PredictingLocationsviaIndoorPositioningSystem_Serna-checkpoint.ipynb
.ipynb_checkpoints/Unit_2_PredictingLocationsviaIndoorPositioningSystem_Heber-checkpoint.ipynb
.ipynb_checkpoints/Unit_2_PredictingLocationsviaIndoorPositioningSystem_Bruce-checkpoint.ipynb
.ipynb_checkpoints/Unit_2_PredictingLocationsviaIndoorPositioningSystem-checkpoint.ipynb
